### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
players =purchase_data_df.SN.unique()
total_players = len(players)

total_player_df = pd.DataFrame({
    "Total_Players": [total_players]
})
total_player_df

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
total_purchased = purchase_data_df['Purchase ID'].count()
average_price = purchase_data_df['Price'].mean()
total_revenue = "$",purchase_data_df['Price'].sum()
number_of_items = len(purchase_data_df['Item Name'].unique())
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items": [number_of_items],
    "Average Price": [average_price],
    "Number of Purchases": [total_purchased],
    "Total Revenue": [total_revenue]
})

purchasing_analysis_df.round(2)

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179           3.05                  780  ($, 2379.77)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
males_df = purchase_data_df[purchase_data_df['Gender'] == 'Male']
# unique_males = len(males_df['SN'].unique())
# percentage_males = (unique_males/total_players)*100

# female_df = purchase_data_df[purchase_data_df['Gender']=='Female']
# unique_females = len(female_df['SN'].unique())
# percentage_females = (unique_females/total_players)*100

# other_df = purchase_data_df[purchase_data_df['Gender']== 'Other / Non-Disclosed']
# unique_other = len(other_df['SN'].unique())
# percentage_other = (unique_other/total_players)*100
# total_count = {"Total Count":[unique_males,unique_females,unique_other]}

# gender_demographics_df = pd.DataFrame([
    
#     {"" :"Male", "Percentage of Player": percentage_males, "Total Count": unique_males},
#     {"": "Female","Percentage of Player":percentage_females, "Total Count": unique_females },
#     {"" :"Other / Non-Disclose", "Percentage of Player": percentage_other, "Total Count": unique_other}
    
#     ])

# gender_demographics_df.round(2)
males_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
...,...,...,...,...,...,...,...
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
749,749,Chanossanya44,20,Male,53,Vengeance Cleaver,2.05
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [7]:
males_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
males_purchase = len(males_df['Purchase ID'])
males_average_cost = males_df['Price'].mean()
males_total_cost = males_df['Price'].sum()
per_males_cost = males_total_cost / unique_males

females_purchase = len(female_df['Purchase ID'])
females_average_cost = female_df['Price'].mean()
females_total_cost = female_df['Price'].sum()
per_female_cost = females_total_cost / unique_females

other_purchase = len(other_df['Purchase ID'])
other_average_cost = other_df['Price'].mean()
other_total_cost = other_df['Price'].sum()
per_other_cost = other_total_cost / unique_other

females_total_cost
purchasing_analysis_gender_df = pd.DataFrame([
    
    {"": "Males", "Purchase Count": males_purchase, "Average Cost": males_average_cost, "Total Cost": males_total_cost, "Cost Per Player": per_males_cost},
    {"": "Females", "Purchase Count":females_purchase, "Average Cost": females_average_cost, "Total Cost": females_total_cost, "Cost Per Player": per_female_cost},
    {"": "Other / Non-Disclosed", "Purchase Count": other_purchase, "Average Cost": other_average_cost, "Total Cost":other_total_cost, "Cost Per Player": per_other_cost}
])
purchasing_analysis_gender_df.round(2)

,,Average Cost,Cost Per Player,Purchase Count,Total Cost
0,Males,3.02,4.07,652,1967.64
1,Females,3.20,4.47,113,361.94
2,Other / Non-Disclosed,3.35,4.56,15,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
age_type = purchase_data_df.loc[:,["SN", "Age"]] 

bins = [0,10, 14, 19, 24, 29, 34, 39, 100]
age_groups = ['< 10', '10-14','15-19','20-24','25-29','30-34','35-39','40+']
real_total = age_type[age_type.duplicated(keep = 'first') == False]

real_total[""]= pd.cut(age_type["Age"], bins, labels = age_groups)
new_real = real_total.groupby('').count()
age_players = pd.DataFrame(new_real)
age_players['Percentage of Players'] = (age_players['Age']/ age_players['Age'].sum())*100

df1 =  age_players.drop(['SN'],axis = 1)
df2 = df1.rename(columns = {'Age':"Total Count"})
df2.round(2)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

       Total Count  Percentage of Players

< 10            24                   4.17
10-14           15                   2.60
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

* Bin the purchase_data data frame by age
 

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
age_price =purchase_data_df.loc[:, ['Age','Price',"Purchase ID"]]
age_price["Range"]= pd.cut(age_type["Age"], bins, labels = age_groups)

test = age_price.loc[:,["Range", "Price"]]
why = test.groupby('Range').sum()

test_2 = age_price.loc[:,["Range","Age"]]
nott = test_2.groupby('Range').count()

why_not_lol = pd.merge(why, nott, on="Range")
purchase_sum = pd.DataFrame(why_not_lol)
purchase_summ = purchase_sum.rename(columns = {'Age':"Purchase Count"})
purchase_summery = purchase_summ.rename(columns = {'Price':"Total Purchase Value"})
purchase_summery["Average Purchase Price"] = (purchase_summery['Total Purchase Value']/ purchase_summery['Purchase Count'])
correct = purchase_summery
correct['Avg Total Purchase per Person'] = (purchase_summery['Total Purchase Value']/df2["Total Count"])
correct.round(2)

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Range,,,,
< 10,108.96,32,3.40,4.54
10-14,50.95,19,2.68,3.40
15-19,412.89,136,3.04,3.86
20-24,1114.06,365,3.05,4.32
25-29,293.00,101,2.90,3.81
30-34,214.00,73,2.93,4.12
35-39,147.67,41,3.60,4.76
40+,38.24,13,2.94,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [242]:
all_buyers = purchase_data_df.loc[:,["SN", "Purchase ID"]]
buyers_purchase = purchase_data_df.loc[:,['SN',"Price"]]
#pokemon example. look at 
buyer_total = buyers_purchase.groupby(['SN']).sum()

buyers_count = all_buyers.groupby(['SN']).count()

total_buyers_count = pd.merge(buyers_count, buyer_total, on="SN").sort_values(["Price"], ascending=False)
total_buyers_count["Average Purchasing Price "] = (buyer_total['Price']/buyers_count['Purchase ID'])
total_buyers_count = total_buyers_count.rename(columns = {'Price':"Total Purchase Value","Purchase ID":'Purchase Count'}).round(2).head()
total_buyers_count
# buyers_count.sort_values(["Purchase Count"], ascending=False)

             Purchase Count  Total Purchase Value  Average Purchasing Price
SN
Lisosia93                 5                 18.96                       3.79
Idastidru52               4                 15.45                       3.86
Chamjask73                3                 13.83                       4.61
Iral74                    4                 13.62                       3.40
Iskadarya95               3                 13.10                       4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [114]:
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [239]:
name_id = purchase_data_df.loc[:,["Item Name", "Item ID", "Price"]]
id_name = name_id.groupby(["Item ID","Item Name"]).count()

id_price = name_id.groupby(["Item ID", "Item Name"]).mean()
id_price

most_popular_item = pd.merge(id_name, id_price, on = ["Item ID","Item Name"]).sort_values(["Price_x"], ascending=False)
most_popular_item["Total Purcahse Value"] = (id_name['Price']*id_price['Price'])
most_popular_item = most_popular_item.rename(columns = {'Price_x':"Purchase Count","Price_y":'Item Price'}).round(2).head()
most_popular_item

,,Purchase Count,Item Price,Total Purcahse Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [247]:
most_popular_item.sort_values('Total Purcahse Value')

,,Purchase Count,Item Price,Total Purcahse Value
Item ID,Item Name,,,
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
145,Fiery Glass Crusader,9,4.58,41.22
82,Nirvana,9,4.90,44.10
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76